#wrap {
    height:100vh;
    max-width: 1920px;
    margin:0 auto;
}
html, body{
    margin:0;
    min-width: 1280px;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
#wrap {
    min-width: 1280px;
}
#wrap .swiper-wrapper {}

/* 1행----------------------------------------- */
#wrap .swiper-wrapper .swiper-slide.intro {}
#wrap .swiper-wrapper .swiper-slide.intro  .logo-txt {}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .video-wrap{
    position:relative;
    display: block;
    width:100%;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .video-wrap video{
   width:100%;
   display: block;
   height:100vh;
   object-fit: cover;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt {
    position:absolute;
    top:253px;
    right:59px;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt > * {
    color:#ccc;
    font-family: "Arapey", serif;
  font-weight: 400;
  font-style: italic;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt h1 {}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt p {
    font-size: 2.188rem;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt span {
    margin-top:43px;
    display: inline-block;
    font-size: 1.25rem;
}
#wrap .swiper-wrapper .swiper-slide.intro  .hero .logo-txt button {
    margin-top:254px ;
    font-size: 1.75rem;
    border:1px solid #fff;
    padding:15px;
    
}
.logo-txt button {
    animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
    0%, 100% {transform: scale(1);}
    50%      {transform: scale(1.05);}
}
/* 2행=============================== */
#wrap .swiper-wrapper .swiper-slide.brand-story { 
    background-image: url(../images/second_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#wrap .swiper-wrapper .swiper-slide.brand-story .story {
    margin-left:70px ;
}


#wrap .swiper-wrapper .swiper-slide.brand-story .story .text > * {
    color:#b5adad;
}
#wrap .swiper-wrapper .swiper-slide.brand-story .text {
    
}
#wrap .swiper-wrapper .swiper-slide.brand-story .text p {
    line-height: 1.9;
    font-size: 1.375rem;
    opacity: 0;
    transform: translateY(50px);
}
#wrap .swiper-wrapper .swiper-slide.brand-story .text p:first-child {
    font-size: 1.75rem;
}